<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <script type="text/javascript" src="<%= BASE_URL %>static/js/ie-compatible.js"></script>
  <link rel="icon" href="<%= BASE_URL %>static/img/icon-favicon.png">
  <title>浏览器版本过低</title>
  <script>

  // 若ie版本大于10，则进入首页
  if (ieVersion() > 10) {
    window.location.replace('index.html');
  }

  </script>
  <style>
  body {
    background: #103d71;
  }

  p {
    font-size: 32px;
    color: #fa8c16;
    text-align: center;
    padding-top: 50px;
  }
  </style>
</head>
<body>
<p>检测到您使用的浏览器为IE11以下</p>
<p> 请升级浏览器</p>
</body>
</html>
